@import 'tailwindcss';

@theme {
  --color-light: #eceff4;
  --color-light2: #4c566a;
  --color-dark: #292e39;
  --color-dark2: #2e3440;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer utilities {
  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
    font-display: swap;
  }
}

@layer base {
  @media (prefers-color-scheme: dark) {
    html {
      @apply bg-dark2;
    }
  }

  html {
    font-family: Raleway, sans-serif;
    @apply scroll-smooth;
  }
}
