---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="container flex h-screen flex-col items-center justify-center">
    <h1 class="text-center text-4xl font-bold dark:text-white">
      Oops, something went wrong.
    </h1>
  </div>
</BaseLayout>
