---
import BaseLayout from '@layouts/BaseLayout.astro';
import Navbar from '@components/atoms/Navbar.astro';
import Hero from '@components/atoms/Hero.astro';
import SkillSection from '@components/organisms/SkillSection.astro';
import ProjectGallery from '@components/molecules/ProjectGallery.astro';
import Contact from '@components/molecules/Contact.astro';
import Footer from '@components/atoms/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <Hero />
  <div class="custom-shape-divider-bottom-1632431855">
    <svg
      data-name="Layer 1"
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="shape-fill"
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      ></path>
    </svg>
  </div>
  <SkillSection />
  <div class="custom-shape-divider-bottom-1632492800">
    <svg
      data-name="Layer 1"
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="shape-fill"
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
      ></path>
    </svg>
  </div>
  <ProjectGallery />
  <div class="custom-shape-divider-top-1633118895">
    <svg
      data-name="Layer 1"
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="shape-fill"
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      ></path>
    </svg>
  </div>
  <Contact />
  <Footer />
</BaseLayout>

<style>
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: #eceff4;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #292e39;
    }
  }

  /*Shape dividers*/
  .custom-shape-divider-bottom-1632431855 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1632431855 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
  }

  .custom-shape-divider-bottom-1632431855 .shape-fill {
    fill: var(--bg-color);
  }

  .custom-shape-divider-bottom-1632492800 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1632492800 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 103px;
  }

  .custom-shape-divider-bottom-1632492800 .shape-fill {
    fill: var(--bg-color);
  }

  .custom-shape-divider-top-1633118895 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1633118895 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1633118895 .shape-fill {
    fill: var(--bg-color);
  }
</style>
