<footer class="bg-light dark:bg-dark text-center">
  <div class="p-4 text-gray-600 dark:text-white">
    This website is licensed under the
    <a
      class="underline"
      href="https://gitlab.com/uranderu/personal-website/-/blob/main/LICENSE"
      rel="noopener noreferrer external"
      target="_blank">GNU AGPLv3</a
    >
  </div>
</footer>
