---
import { Image } from 'astro:assets';
import characterImage from '@images/hero/character.svg';
---

<div class="bg-light dark:bg-dark">
  <div class="container py-4" id="hero">
    <div class="flex items-center">
      <h1 id="typewriter" class="text-4xl font-bold md:w-1/2 dark:text-white">
        Hello World! My name is Fabian. A software engineering student based in
        the Netherlands.
      </h1>
      <Image
        src={characterImage}
        alt=""
        class="character max-md:collapse md:w-1/2"
      />
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const text =
      'Hello World! My name is Fabian. A software engineering student based in the Netherlands.';
    const textElement = document.getElementById('typewriter');

    if (textElement) {
      textElement.innerHTML = '';

      let i = 0;
      const typingSpeed = 50;

      function typeWriter() {
        if (i < text.length) {
          // @ts-expect-error (Null check is already being done but not seen by compiler due to function scope)
          textElement.innerHTML += text.charAt(i);
          i++;
          setTimeout(typeWriter, typingSpeed);
        }
      }

      typeWriter();
    }
  });
</script>

<style>
  h1 {
    animation: slide-up 1s ease;
  }

  /*Typewriter animation*/
  @keyframes slide-up {
    0% {
      transform: translateY(80px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
