---
import { Image } from 'astro:assets';
import logo from '@images/global/logo.svg';
---

<div class="bg-light dark:bg-dark sticky top-0">
  <nav class="container p-2">
    <a class="flex items-center text-xl dark:text-white" href="#top">
      <Image src={logo} alt="" class="mr-1 w-8" />
      fab1an.dev
    </a>
  </nav>
</div>
