---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Button from '@components/atoms/Button.astro';

interface Props {
  imagePath: ImageMetadata;
  name: string;
  description: string;
  link: string;
}

const { imagePath, name, description, link } = Astro.props;
---

<div
  class="dark:bg-dark2 flex flex-col justify-between overflow-hidden rounded bg-white shadow-sm md:w-1/3"
>
  <Image src={imagePath} alt="" />
  <div class="p-3 dark:text-white">
    <h2 class="mb-2 text-3xl">{name}</h2>
    <p class="mb-5">{description}</p>
    <div class="pb-2">
      <Button href={link} value="View" />
    </div>
  </div>
</div>
