---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  imagePath: ImageMetadata;
  name: string;
}

const { imagePath, name } = Astro.props;
---

<li class="flex items-center p-2">
  <Image src={imagePath} alt="" class="mr-1 w-12 p-1" />
  <p class="text-2xl dark:text-white">{name}</p>
</li>
