---
import Heading from '@components/atoms/Heading.astro';
import Button from '@components/atoms/Button.astro';
---

<div class="container my-3 text-center" id="contact">
  <Heading value="Contact & Blog" />
  <p class="md:mx-64 dark:text-white">
    If you'd like to contact me, you can send me an e-mail using the button
    below. If you're interested in development, architecture and other computer
    science related topics, check out my blog! I regularly write opinionated
    pieces and tutorials there. &#128513;
  </p>
  <div
    class="my-3 flex justify-center space-x-3"
    role="group"
    aria-label="Go to buttons"
  >
    <Button href="mailto:cr3qgn2jow3u6ktp@fab1an.dev" value="Contact Me" />
    <Button href="https://blog.fab1an.dev/" value="Visit My Blog!" />
  </div>
</div>
