---
import Heading from '@components/atoms/Heading.astro';
import ProjectCard from '@components/atoms/ProjectCard.astro';
import type { ImageMetadata } from 'astro';

import simpleTobImage from '@images/projects/simpletob.webp';
import renameShowEpisodesImage from '@images/projects/rename-show-episodes.webp';
import personalWebsiteImage from '@images/projects/personal-website.webp';

type Project = {
  imagePath: ImageMetadata;
  name: string;
  description: string;
  link: string;
};

const projectArray: Project[] = [
  {
    imagePath: simpleTobImage,
    name: 'SimpleTOB',
    description:
      "An application written in Python that helps with a form of Belgian taxes called the TOB. It has an easy-to-use GUI and saves you a lot of time! It was the first useful thing I've ever programmed.",
    link: 'https://gitlab.com/uranderu/t212-simpletob',
  },
  {
    imagePath: renameShowEpisodesImage,
    name: 'Rename Show Episodes',
    description:
      'A small program written in Rust that renames and moves your ripped TV show episodes. Supports variable season length and is Plex and Jellyfin compliant.',
    link: 'https://gitlab.com/uranderu/rename-show-episodes',
  },
  {
    imagePath: personalWebsiteImage,
    name: 'Personal Website',
    description:
      'Yes, this website! I have iterated on it a couple of times now. My latest additions being automatic dark mode and the switch to Astro.js, for the best user experience. 0 bytes of JS required.',
    link: 'https://gitlab.com/uranderu/personal-website',
  },
];
---

<div class="bg-light dark:bg-dark" id="projects">
  <div class="container py-3">
    <Heading value="My Projects" />
    <div class="my-3 flex max-md:flex-col max-md:space-y-3 md:space-x-3">
      {
        projectArray.map((project) => (
          <ProjectCard
            imagePath={project.imagePath}
            name={project.name}
            description={project.description}
            link={project.link}
          />
        ))
      }
    </div>
    <div class="text-center">
      <h2 class="mb-5 text-xl dark:text-white">
        Want to check out more of my projects?
      </h2>
      <a
        href="https://gitlab.com/uranderu"
        rel="noopener noreferrer external"
        target="_blank"
        class="rounded-md bg-[#f96424] p-2.5 text-white"
        role="button"
      >
        Click Here!
      </a>
    </div>
  </div>
</div>
