---
import Skill from '@components/atoms/Skill.astro';
import type { ImageMetadata } from 'astro';

interface Props {
  name: string;
  skillDict: Record<string, ImageMetadata>;
}

const { name, skillDict } = Astro.props;
---

<div class="md:w-4/12">
  <h2 class="my-3 text-center text-3xl dark:text-white">{name}</h2>
  <ul class="bg-light dark:divide-dark2 dark:bg-dark divide-y rounded">
    {
      Object.entries(skillDict).map((skill) => (
        <Skill name={skill[0]} imagePath={skill[1]} />
      ))
    }
  </ul>
</div>
