---
import Heading from '@components/atoms/Heading.astro';
import SkillCategory from '@components/molecules/SkillCategory.astro';

import svelteLogo from '@images/skills/svelte-logo.svg';
import typeScriptLogo from '@images/skills/typescript-logo.svg';
import graphqlLogo from '@images/skills/graphql-logo.svg';
import tailwindCssLogo from '@images/skills/tailwindcss-logo.svg';
import postgreSqlLogo from '@images/skills/postgresql-logo.svg';
import GoLogo from '@images/skills/go-logo.svg';

import linuxLogo from '@images/skills/linux-logo.svg';
import dockerLogo from '@images/skills/docker-logo.svg';
import gitlabLogo from '@images/skills/gitlab-logo.svg';
import cephLogo from '@images/skills/ceph-logo.svg';
import proxmoxLogo from '@images/skills/proxmox-logo.svg';
import networkingLogo from '@images/skills/networking-logo.svg';
import type { ImageMetadata } from 'astro';

const devSkillsDict: Record<string, ImageMetadata> = {
  'Svelte(kit)': svelteLogo,
  TypeScript: typeScriptLogo,
  GraphQL: graphqlLogo,
  TailwindCSS: tailwindCssLogo,
  SQL: postgreSqlLogo,
  'Go (Golang)': GoLogo,
};

const archSkillsDict: Record<string, ImageMetadata> = {
  Linux: linuxLogo,
  'Docker & Kubernetes': dockerLogo,
  'CI/CD': gitlabLogo,
  'Storage (ZFS & Ceph)': cephLogo,
  Virtualization: proxmoxLogo,
  Networking: networkingLogo,
};
---

<div class="container my-5" id="skill-section">
  <Heading value="My Favorite Technologies" />
  <div class="flex justify-center max-md:flex-col md:space-x-12">
    <SkillCategory name="Development" skillDict={devSkillsDict} />
    <SkillCategory name="Architecture" skillDict={archSkillsDict} />
  </div>
</div>
