---
import '../styles/global.css';

import Logo from '@images/global/logo.svg';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Portfolio website for Fabian te Raaij which includes skills, projects and contact information."
    />
    <meta property="og:title" content="fab1an.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.fab1an.dev/" />
    <meta
      property="og:description"
      content="Portfolio website for Fabian te Raaij which includes skills, projects and contact information."
    />
    <title>fab1an.dev</title>
    <link rel="icon" href={Logo.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
